In [2]:
import pandas as pd
import tensorflow as tf
import csv
import matplotlib.pyplot as plt

In [4]:
credits = pd.read_csv('./datsets/tmdb_5000_credits.csv')
movies = pd.read_csv('./datasets/tmdb_5000_movies.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/datsets/tmdb_5000_credits.csv'

In [ ]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
data = movies.merge(credits, on = "title")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [ ]:
data.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [ ]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [ ]:
Labels = ["title", "genres", "id", "keywords","cast", "crew" ]

In [ ]:
data = data[Labels]

In [ ]:
data.head()

                                      title  ...                                               crew
0                                    Avatar  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  Pirates of the Caribbean: At World's End  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2                                   Spectre  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3                     The Dark Knight Rises  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4                               John Carter  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 6 columns]

In [ ]:
data.iloc[1]['cast']

'[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'

In [ ]:
import ast
def extract_genres(x):
    lst = []
    for i in ast.literal_eval(x):
        lst.append(i['name'])
    return lst

In [ ]:
data['genres'] = data['genres'].apply(extract_genres)

In [ ]:
def extract_cast(x):
    lst = []
    count = 3
    for i in ast.literal_eval(x):
            if count:
                lst.append(i['name'])
                count -= 1
    return lst

In [ ]:
data['cast'] = data['cast'].apply(extract_cast)

In [ ]:
def extract_crew(x):
    lst = []
    for i in ast.literal_eval(x):
        if (i["job"] == 'Director'):
            lst.append(i['name'])
    return lst

In [ ]:
data['crew'] = data['crew'].apply(extract_crew)

In [ ]:
def extract_keywords(x):
    lst = []
    for i in ast.literal_eval(x):
        lst.append(i['name'])
    return lst

In [ ]:
data['keywords'] = data['keywords'].apply(extract_keywords)

In [ ]:
data.head()

                                      title  ...                 crew
0                                    Avatar  ...      [James Cameron]
1  Pirates of the Caribbean: At World's End  ...     [Gore Verbinski]
2                                   Spectre  ...         [Sam Mendes]
3                     The Dark Knight Rises  ...  [Christopher Nolan]
4                               John Carter  ...     [Andrew Stanton]

[5 rows x 6 columns]

In [ ]:
data['crew'] = data['crew'].apply(lambda x: [i.replace(' ','') for i in x])
data['cast'] = data['cast'].apply(lambda x: [i.replace(' ','') for i in x])
data['keywords'] = data['keywords'].apply(lambda x: [i.replace(' ','') for i in x])
data['genres'] = data['genres'].apply(lambda x: [i.replace(' ','') for i in x])

In [ ]:
data.head()

                                      title  ...                crew
0                                    Avatar  ...      [JamesCameron]
1  Pirates of the Caribbean: At World's End  ...     [GoreVerbinski]
2                                   Spectre  ...         [SamMendes]
3                     The Dark Knight Rises  ...  [ChristopherNolan]
4                               John Carter  ...     [AndrewStanton]

[5 rows x 6 columns]

In [ ]:
data['tags'] = data['genres'] + data['keywords'] + data['cast'] + data['crew']

In [ ]:
data.head()

                                      title  ...                                               tags
0                                    Avatar  ...  [Action, Adventure, Fantasy, ScienceFiction, c...
1  Pirates of the Caribbean: At World's End  ...  [Adventure, Fantasy, Action, ocean, drugabuse,...
2                                   Spectre  ...  [Action, Adventure, Crime, spy, basedonnovel, ...
3                     The Dark Knight Rises  ...  [Action, Crime, Drama, Thriller, dccomics, cri...
4                               John Carter  ...  [Action, Adventure, ScienceFiction, basedonnov...

[5 rows x 7 columns]

In [ ]:
data['tags'][0]

['Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [ ]:
new_df = data.drop(['genres', 'keywords', 'cast', 'crew'], axis  = 1)

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x).lower())

In [ ]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
def stem(text):
    ls = []
    for i in text:
        ls.append(ps.stem(i))
    return ''.join(ls)

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

In [ ]:
new_df['tags'][0]

'action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words= 'english')

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors.shape

(4809, 5000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity =  cosine_similarity(vectors)

In [ ]:
similarity[0]

array([1.        , 0.12309149, 0.11605177, ..., 0.06085806, 0.        ,
       0.        ])

In [ ]:
ind = new_df['title'][new_df['title'] == 'John Carter'].index[0]
sorted(list(enumerate(similarity[ind])), key = lambda x: x[1], reverse=1)[1:6]

[(3410, 0.3563483225498992),
 (4124, 0.3535533905932738),
 (2333, 0.3402069087198859),
 (2378, 0.316227766016838),
 (2761, 0.316227766016838)]

In [ ]:
def recomend(movie):
    ind = new_df['title'][new_df['title'] == movie].index[0]
    lst = sorted(list(enumerate(similarity[ind])), key = lambda x: x[1], reverse=1)[1:6]
    res = []
    for i in lst:
        res.append(new_df['title'][i[0]])
    return res

In [ ]:
recomend('Avatar')

['Star Trek Into Darkness',
 'Megaforce',
 'Jupiter Ascending',
 'The Lovers',
 'Aliens']

In [ ]:
import pickle

In [ ]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [ ]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [ ]:
pickle.dump(similarity, open('similarity.plk','wb'))